<!DOCTYPE html>
<html>
<head>
	<title>Web Geny</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<img src="../static/css/img/logo.jpg">
			</div>
			<ul>
				<li class="active"><a href="">Home</a></li>
				<li><a href="https://en.wikipedia.org/wiki/Artificial_intelligence">About Me</a></li>
				<li><a href="https://sinastameitei.wixsite.com/foodblog">How to host a website</a></li>
				<li><a href="">Tutorial</a></li>
			</ul>
		</div>
		<div class="title">
			<div class="typing-title">
			<h1>Website Generator</h1>
			</div>
		</header>
		<main>
		</div>
		<div class="typing-texts"><p>Hello and thank you for visiting Web Geny, Here you can easily construct your own website that may be entirely personalised and is also completely free! This website builder is focused on design and simplicity.</p></div>
		<div>
		
		
    
    	<a href="/info" class="btn">Create Now!</a>
    	
    </div>
</main>
</body>
</html>